h3, h5{
    color: white;
}
h1{

    display: flex;
    justify-content: center;
    color: white;
    font-family: sans-serif;
    padding: 20px 0;
}
h3{
    margin-top: 20px;
}
.container{
    text-align: center;
}

.button-section button {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 60px;
}
.start-button-section {
    padding-bottom: 50px;
}

.player-image{
    transform: rotateY(180deg)
}
    
